.Cover{
    /*遮罩层*/
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    background-color: rgba(0,0,0,.3);
    display: none;
}
.Cover .m-title{
    padding-left: 12px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    color: #666666;
    border-bottom:#c7c7c7 1px solid;
}
.Cover .m-title img{
    height: 13px;
    width: 13px;;
    margin: 12px 12px 0 0;
    float: right;
    cursor: pointer;
}
#onMoney{
    display: inline-block;
    margin-left: 20px;
    margin-right: 140px;
    margin-bottom: 27px;
}
#onMoney option{
}
.m-Cover .recharge{
    overflow: hidden;
    padding-top: 20px;
    padding-left: 53px;
}
.Cover .m-Cover{
    border-radius: 3px;
    width: 470px;
    margin: 227px auto 0 auto;
    background: #fff;
}


/*打赏金币*/
.m-list{
    overflow: hidden;
    padding: 30px 58px;
}
.m-list>span{
    float: left;
    margin-top: 4px;
}
.m-list ul{
    width: 260px;
    float: right;
    margin-right: 22px;
}
.m-list ul li{
    cursor: pointer;
    float: left;
    width: 70px;
    height: 28px;
    line-height: 28px;
    margin-right: 20px;
    text-align: center;
    border:solid 1px #c7c7c7;
    color: #666666;
    font-size: 12px;
    border-radius: 3px;
}

.m-list ul li:nth-child(4),.m-list ul li:nth-child(5),.m-list ul li:nth-child(6){
    margin: 20px 20px 20px 0;
}
.m-list ul li:nth-child(3n){
    margin-right: 0;
}
.m-list ul li.active{
    border-color: #fda249;
    color: #fda249;
}
.gold{
    font-size: 14px;
    width: 250px;
    height: 28px;
    padding-left: 9px;
    border-radius: 3px;
    border:1px solid #c7c7c7 ;
}
.goldInadequate{
    margin: 19px 0 0 72px;
    display: none;
}
.goldInadequate a{
    color: #fda249;
    text-decoration:underline;
}

/*密码输入框*/
.m-password{
    overflow: hidden;
}
.m-password > p{
    margin: 29px 0;
    text-align: center;
}

.m-Cover2{
    display: none;
}
#Cover2{
    display: none;
}

/*图片预览*/
.gbLeft,.gbClose,.gbRight{
    cursor: pointer;
    z-index: 1111;
}
.gbClose{
    float: right;
    margin-right: 83px;
    margin-top: 30px;
    width: 40px;
    height: 40px;
}
.gbRight{
    float: right;
    margin-right: 8%;
    margin-top: 21%;
    width: 26px;
    height: 45px;
}
.gbLeft{
    float: left;
    margin-left: 8%;
    margin-top: 21%;
    width: 26px;
    height: 45px;
}
.btn-warning{
    background-color:#fda249;
    color:#fff;
    border-color:#fda249;
    border:1px solid #fda249;
    outline:none;
    filter:chroma(color=#000000);
    box-shadow: #fff;
}
.btn-warning:focus{
    outline:none;
    filter:chroma(color=#000000);
    box-shadow:0 0 0 0px rgba(255, 193, 7, 0.5);
}
.btn-warning:hover{
    background-color:#b96a1abb;
    color:#fff;
}

.ma_r76{
    margin-right: 76px
}
.ma_r19{
    margin-right:19px
}
.Reverse_btn{
    color:#fff;width:65px;height:32px;background-color:#0a1825;border-radius: 6px;
}
.Reverse_Smallbtn{
    color:#fff;width:30px;height:32px;background-color:#0a1825;border-radius: 6px;
}
.Reverse_span{
    position: relative;bottom: -11px; margin-left: 7px;
}
.indexnone{
    display: none;
}
.xian{
    background-color:#a0a0a0;width:60px;height:1px;
}
.Claim tr{
    color: #333333;
}
.Claim input::-webkit-input-placeholder{
    color:#999999;
}
#infoid{
    display: none;
}
.Claim input{
    background-color: #e7e7e7;
    border-radius: 5px;
    padding-left: 7px;
    border: 0px;outline:none;
}
@media (max-width:480px){
    /*body #pimg{margin-top: 73px;}*/
    .y-center{
        display: block;
        margin-bottom:15px; 
    }
    /*.yy-conter{
        margin-top:62px; 
    }*/
    .y-dianhua{
       margin-left:0 
    }
    .user_name{width: 80%;}
    .grey {display: none;}
    .tong{display: none;}
    .ma_r19{margin-right:0;float: left;overflow: hidden; }
}