body {
  font-size: 14px;
  font-family: "Microsoft Yahei";
  color: #333333;
}
body,div,p,h1,h2,h3,h4,h5,h6,ul,li {
	margin: 0;
	padding: 0;
}
*{	
	margin: 0;
	padding: 0;	
}
a {
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
img {
	vertical-align: bottom;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.clearFix:after{
 clear:both;
 display:block;
 visibility:hidden;
 height:0;
 line-height:0;
 content:'';
}
.f-left {
	float: left;
}
.f-right {
	float: right;
}


.videoMp4{
	max-width: 100% !important;
}



.banxin{
	margin:0 8px; 
}
.message {
	/*padding: 10px;*/
	border-bottom:10px solid #f3f5f9;
}
.message p {
	font-size: 14px;
	padding: 3px 12px;
	line-height: 24px;
}
.message div.message_desc .img_box {
	display: inline-block;
	position: relative;
	width: 31%;
	height: 29vw;
	overflow: hidden;
	margin-left: 1%;
	margin-bottom: 1%;
}
.people p{
	font-size: 14px;
}
.message div.message_desc .img_box:nth-child(4) {
	
}
.message div.message_desc .img_box img {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
}
.message>div:last-child p:first-child {
	color: #000;
	font-size: 14px;
}
.message>div:last-child p:last-child {
	color: #b6b6b6;
}

.people {
	/*border-top: 1px solid #c7c7c7;*/
}
.people>div p {
	font-size: 16px;
	color: #323232;
}
.people>div p:last-child {
	margin-top: 5px;
	font-size: 12px;
	color: #505050;
}

.comment {
	border-bottom: 10px solid #f3f5f9;
}
.comment .title {
	padding: 10px;
	color: #999;
	background-color: #f3f5f9;
	font-size: 16px;
}
.comment .comment-list {
	padding: 15px 10px 10px 10px;
	border-bottom: 1px solid #f3f5f9;
}
.comment .comment-list:last-child {
	border-bottom: none;
}
.comment .comment-list .comment_man>img , .people>img {
	border-radius: 5px;
	margin-right: 10px;
}
.comment .comment-list .comment_man .support {
	display: inline-block;
	vertical-align: sub;
	width: 20px;
	height: 20px;
	background: url('/images/zan.png') no-repeat 3px 1px;
	background-size: cover;
}
.comment .comment-list .comment_man div.comment_man_name {
	margin: 5px 0;
}
.comment .comment-list .comment_man div.comment_man_name p:last-child {
	font-size: 12px;
	color: #b6b6b6;
	margin-top: 5px;
}
.comment .comment-list .comment_man div:last-child {
	margin: 12px 0;
}
.comment .comment-list .comment_mes {
	margin: 5px 0 0 60px;
	line-height: 24px;
	font-size: 16px;
	color: #323232;
}
.download{
	box-shadow: 2px 5px 41px 2px #cfcece;
	position: fixed;
	bottom: 0;
	width: 100%;
	color: #fff;
	font-size: 18px;
	background-color: #fff;
	padding: 6px 10px;
	margin: 0;
	border: none;
	outline: none;
	height: 60px;
	box-sizing: border-box;
}
.download button {
	width: 80px;
	border-radius: 3px;
    height: 35px;
	color: #fff;
	font-size: 12px;
	background-color: #fc9937;
	margin: 0;
	border:none;
	z-index: 888;
	outline: none;
	float: right;
	margin:12px 27px; 
}

/*查看大图*/
.big-img {
	display: none;
	background: #000;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	z-index: 111;
}
.big-img img {
	position: absolute;
	top: 50%; left: 50%;  
  -webkit-transform: translate(-50%,-50%);  
	-ms-transform: translate(-50%,-50%);  
	transform: translate(-50%,-50%);  
	width: 100%;
	z-index: 999;
}
.big-img span {
	color: #fff;
	position: fixed;
	right: 20px;
	bottom: 20px;
	font-size: 18px;
	z-index: 1000;
}
.uu{
	display: none;
  position: absolute;
  position: fixed;
  z-index: 9999;
  top: 0px;
  left: 0px;
  width: 100%;
  background: url("../../../images/bk.png") center top no-repeat;
  background-size: cover;
  opacity:0.9;
  height: 100%;

}
.message_fiattime{ 
	border-bottom:1px solid #f4f4f4;
	/*opacity: 0.3; */
}
body .morder_bottom{
	margin-bottom:0px; 
	padding-bottom:0px; 
}
.message_tiao{
	padding:10px 0; 
	border-bottom:1px solid #ddd; 
}
.conterr{
	/*margin-top:10px;*/
	margin-bottom: 40px;
}
.conterr .people{
	margin-top:10px;
	width: 100%;
	box-sizing: border-box;
	padding-bottom:5px;
	border-bottom:1px solid #faf2f2;
}
.conterr .people:last-child{
	border-bottom:1px solid #fff;
}
.conterr .people{
	padding-top:0px;
}
.left{
	width: 80%;
}
.name{
	text-align: center;
	border-radius:13px; 
	font-size: 12px;
	color:#005bc8;
	height: 25px;
    background-color: #f3f5f9;
    display:block;
    padding:0 8px; 
}
.name img{
	width:13px;
	position: relative;
	top:-5px;
}
.nnone{
	display: none;
}
#new-time,.y-end,.y-expire{
	display: none;
}
.colock{
	width:12px;
	position: relative;
	left: 0;
	bottom:6px;
}
.message_desc p{
	font-size:14px;
}
.option{
	width: 12px;
	position:relative;
	top:-5px;

}
#id_{
	display:none;
}
.clock{
	color:#fc9937;
	font-size: 12px;
	border-bottom:1px solid #e0e0e0; 
	padding-left:12px; 
}
.message .user_name_bottom p{
	  padding:0; 
	  margin-top:0px;
}
.user_name_top{
	padding:14px 12px; 
	border-top:1px solid #e0e0e0; 
}
.radiu{
	border-radius: 50%;
	background-color:#999999;
	width: 2px;
	height: 2px;
	display:inline-block;
	position: relative;
	top:-3px;
}