td .progress {
    margin-bottom: 0;
}
.fileinput-button {
	position: relative;
	overflow: hidden;
}
input[type=file] {
	display: block;
}
.fileinput-button input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	-ms-filter: 'alpha(opacity=0)';
	font-size: 200px;
	direction: ltr;
	cursor: pointer;
}
.table-file-upload td:first-child {
	width: 20%;
	min-width: 80px;
	text-align: center;
}

.table-file-upload td.radio-paly {
	width: 20%;
	min-width: 80px;
	text-align: left;
}

.table-file-upload td:first-child img {
	width: 100%;
	max-width: 60px;
}
.table-file-upload td:last-child {
	width: 10%;
	min-width: 60px;
}
