.indexSearch{
    display: inline;
}
.wrapper div.section{
    border:0;
    margin:0 20px;
}
.content_div{
    padding:0;
    width:51rem;
}

li.time-select select{
   
    width:3.5rem!important;
}
#select_year{
    width:5rem!important;
}
.indexSearch{
    margin-right:3.6rem!important
}
input::-webkit-input-placeholder{
    color:#ddd;
  }
  input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#ddd;
  }
  input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#ddd;
  }
  input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:#ddd;
  }