html{
	font-size: 10px;
}
.head p{
	text-align: center;
	color: #fda249;
	font-size: 1.4rem;
	padding: 1rem 0;
}
.expenditure .left{
	float: left;
	width:20%;
}
.expenditure .left img{
	width: 100%;
	height: 100%;
	border-radius: 100%;
}
.expenditure .right{
	float:right; 
	width:77%;
	height:20%;
}
.expenditure{
	height: 20%;
}
/*.v-padding{
	padding:0 13%
}*/
i{
	font-style: normal;
}
.center{
	text-align: center;
}
.btn{
	background-color:#fda249;
	color: #fff;
	width: 17.5rem;
	border-radius:20px;
	line-height: 2.3rem;
	margin-top: 1.5rem;
}
h3{
	font-size: 14px;
	margin: 0;
	margin-bottom: 1.3rem;
}
.hui{
	color: #bfbfbf;
}
.Exhibition{
	margin-top:2.3rem; 
}
.clear{
	clear: both;
}
.public .left{
	float: left;
	height: 0.2rem;
	width: 35%;
	background-color: #bfbfbf;
}
.public .right{
	float: left;
	height: 0.2rem;
	width: 35%;
	background-color: #bfbfbf;
}
.public .center{
	color: #fda249;
	float: left;
	width: 30%;
	position: relative;
	top:-1rem;
}
.data,.newdata{
	margin-top:1.5rem; 
	margin-bottom:1.5rem; 
}

.padding-1rem{
	padding: 0 2.8rem;
}
.data .left,.newdata .left{
	float:left;
	margin-left: 10%;
	width: 15%;
	margin-right: 5%;
	height: 57px;
}
.data .left img{
	width: 100%;
}
.newdata .left img{
	width: 100%;
	border-radius: 100%;
	height: 100%;
}
.data .right,.newdata .right{
	float: left;
	width: 50%;
}
.e,.e9{
	width: 17px;
	height: 19px;
	background-color:#e9e9e9;
	display: inline-block;
	font-size: 18px;
    text-align: center;
    line-height:1.55rem;
    border-radius: 5px;
    margin-left: 0.2rem;
    color:#333;
}
.bg{
	background-image:url(1.png); 
	height: 200px;
	background-size:100% 100%; 
}
.banxin{
	width:100%;
}
.Exhibition .container-fluid{
	padding: 0
}
.ranking .container-fluid{
	padding: 0
}	
.ranking{
	margin-top:2rem; 
}
.public{
	margin-bottom: 2rem;
}
.expenditure_2{
	overflow: hidden;
}
.expenditure .left{
	text-align: right;
	width: 30%;
	margin-right:5%; 
}
.expenditure .right{
	text-align: left;
	width: 65%;
}
.expenditure .left img{
	width: 51px;
	height: 51px;
}
/*@media(min-width:768px) and (max-width:1024px){
	.expenditure .left{
		float: left;
	}
	.expenditure .right{
		float:right; 
	}
	.banxin{
		width: 1140px;
	}
	.data .left{
		width: 5%;
	}
	.bg{
		height: 200px;
		background-size:100% 100%; 
		background-image:url(http://img.qa.xluob.com/%E5%9B%BE2.png); 
	}
	.expenditure_2{
		width: 445px;
		overflow: hidden;
	}

}*/
@media(min-width:1025px){
	.expenditure_2{
		width: 314px;
		margin: 0 auto;
	}
	.expenditure_2 .left{
		margin-right:39px; 
		height: 57px;
		float: left;
	}
	.expenditure_2 .right{
		width: 148px;
		float:left; 
	}
	.banxin{
		width: 1151px;
	}
	
	.data .left{
		width: 5%;
	}
	.bg{
		background-image:url(http://img.qa.xluob.com/%E5%9B%BE2.png); 
	}
	.data .left{
		margin-left:0; 
	}
	.padding-1rem{
		line-height: 30px;
	}
	.public .center{
		width: 10%;
	}
	.public .right,.public .left{
		width: 45%;
	}
	.data .left, .newdata .left{
		width: 57px;
		height: 57px;
	}
}
