.listHead a{
    display: inline-block;
    width: 84px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #ececec;
    font-size: 14px;
    color: #999;
}
a.listActive{
    color: #fff;
    background: #fda249;
}
.section .titlebar{
    padding-bottom: 0;
    border-bottom: solid #ececec 1px;
}
.wrapper div.section.wrap-content{
    padding-top:0;
}
div.show_img{
    height:auto;
}